@import "var.scss";

.my-music {
  margin-top: $header-height;
  padding-top: 150px;
  background-color: #848c74;
}

/*左侧*/
.album-slide {
  float: left;
  width: 700px;
  display: flex;

  // 图片
  .album-img {
    height: 200px;
    width: 200px;
    background-size: cover; 
    position: absolute;
    top: 240px;
    left: 180px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid $color-white;
    img {
      background-size: cover; 
      width: 120%;
    }
  }

    /*信息*/
.album-info {
  color: #fff;
  width: 500px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 75px;
  margin-left: 440px;
  li {
    width: 100%;
    line-height: 40px;
  }
}

}

/*歌单内容*/
.album-content {
  margin-left: 300px;
  padding: 40px 100px;
  margin-bottom: 400px;
  margin-top: 50px;
  /*歌单题目*/
  .songs-body {
    width: 700px;
    margin-left: 400px;
    margin-top: -360px;
    color: #848c74;
  }
}

.album-title {
  margin-left: -110px;
  margin-top: 160px;
  font-size: 30px;
  font-weight: 600;
  color: #c4ceb3;
}
