@import "var.scss";
@import "global.scss";

.the-footer {
  width: 100%;
  height: $footer-height - 100px;
  background-color: #848c74;
  color: #fff;
  margin-bottom: 55px;
  @include layout(center, center, column);
  p {
    height: 30px;
  }
}
